.acf-form input[type="checkbox"].styled, 
input[type="checkbox"].styled:checked + strong:after {
    display:none;
}

.acf-form .select2-container--default.-acf .select2-selection--multiple .select2-selection__choice {
    margin: 5px 0 0 0;
}

.acf-form .select2-container--default.-acf .select2-selection--multiple .select2-search--inline:first-child {
    margin: 3px 5px;
}

.acf-form input[type="checkbox"].styled + strong:before {
    display:none;
}

.acf-fields.-left > .acf-field:before {
    width: initial;
}

.acf-form .acf-field .acf-label {
    margin: 0px;
}

.acf-fields.-left > .acf-field {
    padding-left: 0px;
}

.acf-field-message,
.acf-field-message:before,
.acf-field-message .acf-label {
    color: white;
}

.acf-form input[type="search"] {
    height:auto;
}

.acf-form button {
    margin: 5px 0 0 5px;
}

.acf-fields > .acf-tab-wrap {
    background : none!important;
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
