#add-favorite {
	display: flex;
	margin-bottom: 15px;
	flex-flow: row-reverse;
}

#add-favorite button {
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
}

#add-favorite i {
	font-size: 32px;
	padding-right: 10px;
}

#add-favorite a {
	color: #4d5c6d;
	cursor: pointer;
}

#add-favorite .user_favorite {
	color: #4d5c6d;
	opacity: 0.25;
}

#add-favorite .favorited i {
	color: yellow;
	opacity: 1;
}

#add-favorite .favorited i:before {
	content: '\e90b';
}

table#my_favorites .delete_favorite {
	cursor: pointer;
}

table#my_favorites tr td:first-child {
	width: 100%;
	padding-left: 0px;
	white-space: nowrap;
	text-align: left;
}

table#my_favorites tr td {
	width: 50px;
	text-align: center;
	padding: 1rem;
}

.favorites-list li {
	padding: 0px;
}

.favorites-list li a {
	display: block;
	width: 100%;
	padding: 15px 20px;
}
