.site-inner {
    margin: 80px auto;
}

.site-inner section {
	margin: 0px!important;
}

h1 {
	margin: 0px;
    color: #32AFFF;
}

h2,
h3,
h4,
h5 {
    color: #606060;
    margin-top: 15px;
}

.post_meta {
	font-size: 20px;
	margin: 15px 0 30px 0;
}

.post_header {
    height: 33.33vh;
    margin-top: 80px;
}

.post_meta_footer {
	text-align: right;
	width: 100%;
	background: #FAFAFA;
	margin: 30px 0;
	padding: 60px;
}

.post_meta_footer .author {
	text-decoration: underline;
}

.post_footer {
	font-size: 16px;
	line-height: 32px;
}

/* RELATED ARTICLES */

.sidebar {
    margin-top: 50vh;
}

.sidebar .widget-title {
    font-size: 20px;
    line-height: 38px;
    color: #606060;
    margin-top: 0px;
    margin-bottom : 30px;
}

#posts .post {
    margin-bottom: 30px;
}

#posts .post .post_content {
    padding: 30px;
}

@media only screen and (min-width: 960px) {

    .content {
		float: left;
		width: 75%;
	}

    .sidebar {
		float: right;
		width: 20%;
	}

}

@media only screen and (max-width: 959px) {

    .post_header {
        margin-top: 58px;
    }

    h2,
    h3,
    h4,
    h5 {
        margin-top: 15px!important;
    }

}
