/* CONSULTER UN MEDECIN */
section#consult {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	min-height: 320px;
	border-radius: 18px;
}

section#consult .liste_assurances {
	max-width: 800px;
}

section#consult .consult_title {
	color: #32afff;
	font-weight: 400;
	margin-top: 0;
}

section#consult .consult_content {
	position: relative;
}

section#consult .consult_description {
	width: 50%;
}

section#consult .cta {
	color: white;
	background: #32afff;
	border-radius: 10px;
}

section#consult .trustpilot-micro {
	height: 50px;
	position: absolute;
	right: -30px;
	width: 250px;
	background: white;
	bottom: 50px;
	-webkit-box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.75);
}

section#consult .trustpilot-micro iframe {
	height: 50px !important;
	padding: 12px 0;
}

section#consult .button {
	border-radius: 10px;
	background-color: #32afff;
	color: white;
}

section#consult .button:hover,
section#consult .button:focus {
	background-color: #fff;
	color: #32afff;
	border: solid 1px #32afff;
	font-weight: 200;
}

/* FORMULAIRE ASSURANCES */
section#form {
	background: #fafafa;
	min-height: 420px;
	border-radius: 18px;
}

section#form .liste_assurances {
	max-width: 800px;
}

section#form .form_before_title {
	margin-bottom: 15px;
}

section#form .before_form {
	color: #32afff;
	font-size: 52px;
	font-weight: 400;
	margin-top: 0;
}

section#form .form_title_action {
	font-weight: bold;
}

section#form .form_content {
	position: relative;
}

section#form .form_content .form_footer {
	position: relative;
	margin-left: 30px;
	font-weight: 500;
	letter-spacing: -0.166582px;
	color: #32afff;
	line-height: 2.6;
}

section#form .form_content .ajax_content {
	border-radius: 18px;
	max-width: 800px;
	background: white;
}

section#form .form_content .liste_assurances > a {
	display: block;
	font-size: 16px;
}

section#form .form_content .liste_assurances .assurance_found {
	position: relative;
	background: white;
	cursor: pointer;
	line-height: initial;
	padding: 18px 45px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: inset 0px 0px 3px rgba(31, 31, 31, 0.22);
}

section#form .form_content .liste_assurances .assurance_found:first-child {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

section#form .form_content .liste_assurances .assurance_found:last-child {
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

section#form .form_content .liste_assurances .assurance_found .connection {
	position: absolute;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
}

section#form
	.form_content
	.liste_assurances
	.assurance_found
	.connection[data-value="false"] {
	color: #5e5e5d;
	font-size: 14px;
	text-decoration: underline;
}

section#form .form_content .liste_assurances .prise_en_charge {
	font-size: 14px;
	font-weight: bold;
}

section#form
	.form_content
	.liste_assurances
	.prise_en_charge[data-value="true"] {
	color: green;
}

section#form
	.form_content
	.liste_assurances
	.prise_en_charge[data-value="false"] {
	color: red;
}

section#form .form_content .form_footer:before {
	content: "";
	background-image: url(../images/formulaire_partenaires_arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 112px;
	position: absolute;
	height: 91px;
	left: -85px;
	bottom: 0;
}

section#form .form_content .search_assurances input {
	max-width: 800px;
	padding: 18px 45px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: inset 0px 0px 3px rgba(31, 31, 31, 0.22);
	border-radius: 18px;
}

section#form .ajax_content {
	position: absolute;
	top: 58px;
	max-width: 800px;
	width: 100%;
	z-index: 9999;
}

/* CERTIFICATION */
section#certification {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 60px 0;
}

/* SERVICES */
section#services .service {
	text-align: center;
}

section#services .services_title {
	margin-top: 0px;
	font-weight: normal;
}

section#services .services_description {
}

section#services .services_list {
	margin-top: 45px;
}

section#services .service .title {
	margin-bottom: 15px;
	font-size: 24px;
	letter-spacing: 0.75px;
	text-align: left;
	color: #15161a;
}

section#services .service > a {
	display: block;
}

section#services .service img {
	width: 100%;
	max-width: 320px;
}

section#services .service .description {
	color: #5e5e5d;
	text-align: left;
}

/* QUI ME REPOND ? */

section#qui_me_repond {
	background-color: #fafafa;
}

section#qui_me_repond .title {
	color: #32afff;
}

section#qui_me_repond > .description {
	margin-bottom: 30px;
}

section#qui_me_repond .image-content {
	height: 250px;
}

section#qui_me_repond img {
	max-height: 250px;
}

section#qui_me_repond a.button {
	border-radius: 10px;
	background: #32afff;
	color: white;
}

section#qui_me_repond .button:hover,
section#qui_me_repond .button:focus {
	background-color: #fff;
	color: #32afff;
	border-color: #32afff;
}

/* ARGUMENTS */
section#arguments {
}

section#arguments .argument {
	padding-right: 30px;
}

section#arguments .image-content {
	height: 250px;
}

section#arguments img {
	max-height: 250px;
}

section#arguments .title {
	color: black;
	margin-bottom: 15px;
}

/* BLOCKS */
section#blocks {
	background: #fafafa;
}

section#blocks .line {
	min-height: 50vh;
}

section#blocks .one-half {
	width: 50%;
	margin-left: 0px;
}

section#blocks .content {
	padding: 90px;
}

section#blocks .title {
	color: #32afff;
}

section#blocks .background {
}

section#blocks .description {
	line-height: 1.5;
}

/* MOTIFS */
section#motifs {
	background: #32afff;
	background: linear-gradient(
		to bottom,
		#32afff 0%,
		#32afff 65%,
		#000000 65%,
		white 65%,
		white 100%
	);
	border-radius: 18px 18px 0px 0px;
}

section#motifs h2 {
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 30px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 1px;
}

section#motifs a,
section#motifs span {
	display: block;
}

section#motifs .motif {
	background: white;
	padding: 30px 35px;
}

section#motifs .motif .motif_bloc:not(:last-child) {
	margin-bottom: 30px;
}

section#motifs .motif .title {
	color: #32afff;
}

section#motifs .motif a {
	color: #606060;
}

section#motifs .motifs_descriptions {
	height: 160px;
	font-family: Comfortaa;
	font-size: 54px;
	line-height: 1;
	margin-bottom: 60px;
	font-weight: 1.35;
}

section#motifs .motifs_descriptions > .motifs_description > span {
	display: inline-block;
	background-color: white;
	padding: 5px 15px;
	color: #32afff;
	min-height: 64px;
}

section#motifs .motifs_descriptions .motifs_description_1 {
	font-weight: bold;
	padding-bottom: 15px;
}

/* STATISTICS */
section#statistics {
	background: #fafafa;
	border-radius: 18px 18px 0px 0px;
}

section#statistics > .title {
	font-size: 18px;
	line-height: 53px;
	color: #606060;
}

section#statistics > .statistic {
	position: relative;
	padding-left: 50px;
	padding-bottom: 30px;
}

section#statistics > .statistic:before {
	content: "";
	background-image: url(../icons/thumb_up.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0;
}

section#statistics > .statistic > .title {
	font-size: 28px;
	line-height: 42px;
	letter-spacing: -0.42px;
	color: #32afff;
}

section#statistics > .statistic > .description {
	font-size: 28px;
	line-height: 42px;
	letter-spacing: -0.42px;
	color: #606060;
}

section#statistics > .trustpilot {
	float: right;
}

/* SLIDER */
section#slider .owl-item,
section#slider .background {
	width: 50%;
}

/* BANNIERE */
section#banniere {
	background: #32afff;
	color: white;
	display: flex;
	align-items: center;
}

section#banniere > .box > .image {
	text-align: center;
	margin-bottom: -30px;
}

section#banniere > .texte {
	font-size: 36px;
	line-height: 37px;
}

section#banniere > .image {
	margin-bottom: -30px;
}

section#banniere .apps {
	margin-top: 30px;
}

section#banniere .apps a {
	display: inline-block;
	margin-right: 15px;
}

/* IDENTITE */
section#identite {
	background: #fafafa;
}

section#identite > .links {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

section#identite > .links > .link {
	margin-right: 30px;
	margin-bottom: 30px;
}

section#identite a.button {
	padding: 5px 30px;
}

section#identite a.button:hover,
section#identite a.button:focus {
	background: #32afff;
	color: white;
}

/* LAST NEWS */
section#last_posts {
}

section#last_posts h2 {
	font-size: 32px;
}

section#last_posts .post .background {
	height: 150px;
	width: 100%;
}

section#last_posts .owl-item {
	background: #fafafa;
}

section#last_posts .post .title {
	color: #606060;
	padding: 20px;
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

/* OFFERS */
section#offers {
	position: relative;
	background: #32afff;
	background: linear-gradient(
		to bottom,
		#32afff 0%,
		#32afff 33%,
		#000000 33%,
		white 33%,
		white 100%
	);
	border-radius: 18px 18px 0px 0px;
	line-height: 1.75;
}

section#offers a {
	text-decoration: underline;
	font-weight: 400;
	display: block;
}

section#offers h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 54px;
	margin: 50px 0 80px 15px;
}

section#offers .column {
	display: flex;
	flex-direction: column;
	background: white;
	padding: 30px;
}

section#offers .column > .title {
	font-size: 42px;
	margin-top: 0px;
	margin-bottom: 45px;
}

section#offers .offer {
	position: relative;
	font-family: Roboto;
	color: #606060;
	margin-left: 60px;
	margin-bottom: 30px;
	line-height: 1.75;
	font-size: 20px;
}

section#offers .offer .background {
	position: absolute;
	left: -60px;
	top: 15px;
	width: 30px;
	height: 30px;
}

section#offers .column .offer > .title {
	font-family: Roboto;
	color: #606060;
	font-weight: bold;
	margin: 0px;
	font-size: 20px;
}

section#offers .column > .price {
	margin-top: auto;
}

section#offers .column > .price > .price_amount {
	font-size: 42px;
	line-height: 1.5;
	margin-top: 15px;
	color: #32afff;
}

section#offers .column > .price > .price_description {
}

section#offers .offer .motif_bloc:not(:last-child) {
	margin-bottom: 30px;
}

section#offers .offer a {
	color: #606060;
}

/* MEDECINS */
section#medecins h2 {
	color: #32afff;
	font-size: 54px;
	margin-bottom: 30px;
}

section#medecins .description {
	width: 60%;
}

section#medecins #slider {
	margin-top: 60px;
}

section#medecins #slider .slide {
	height: 100%;
}

section#medecins #slider .background {
	height: 33.33vh;
}

section#medecins #slider .medecin-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: auto;
}

section#medecins #slider .medecin-content > div {
	margin-top: auto;
	margin-bottom: 15px;
}

section#medecins .owl-stage-outer {
	position: relative;
}

section#medecins .owl-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 0;
	width: calc(100% + 60px);
}

section#medecins .owl-nav button {
	color: #32afff;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

section#medecins .owl-nav button span {
	padding: 30px;
}

section#medecins .owl-nav .owl-prev {
	float: left;
}

section#medecins .owl-nav .owl-next {
	float: right;
}

section#medecins .button {
	margin-top: 60px;
	background: #32afff;
	color: white;
	border-radius: 10px;
	margin-bottom: 0px;
}

section#medecins .button:hover,
section#medecins .button:focus {
	background-color: #fff;
	color: #32afff;
	border-color: #32afff;
}

/* TRUSTPILOT */

.page-template-trustpilot .trustpilot-widget {
	padding-top: 60px;
}

.page-template-trustpilot .trustpilot-widget iframe {
	height: calc(100vh - 80px);
}

/* GRAVITY FORM */

.page-template-form .background {
	height: 100vh;
	width: 100vw;
	background-color: white;
	background-size: cover;
	position: fixed;
	z-index: -1;
	margin-top: -30px;
}

section#gform {
	width: 40vw;
	min-width: 500px;
	padding: 30px;
	background: white;
	margin: 60px auto;
}

section#gform .gform_title {
	color: #32afff;
	margin-bottom: 30px;
}

section#gform input {
	display: block;
	width: 100%;
}

section#gform input[type="submit"] {
	width: auto;
	border-radius: 5px;
	background: #32afff;
	color: white;
	padding: 10px 40px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1280px) {
	section#slider .background,
	section#last_posts .post .background {
		height: 33vh;
	}

	section#slider .slider .slide {
		flex-direction: column;
	}

	section#slider .slider .slide > .content,
	section#slider .owl-item,
	section#slider .background {
		width: 100%;
	}

	section#slider .slider .button {
		margin-top: 30px;
	}

	section#slider .slider .owl-dots {
		position: initial;
	}
}

@media only screen and (min-width: 960px) {
}

@media only screen and (max-width: 959px) {
	section#consult .consult_description {
		width: 100%;
	}

	section#consult .trustpilot-micro {
		right: 0;
	}

	section#consult .trustpilot-micro {
		bottom: -10px;
	}

	section#form {
		min-height: auto;
	}

	section#form .trustpilot-micro {
		left: 0;
		bottom: 150px;
	}

	section#banniere .apps {
		text-align: center;
	}

	section#services {
		background: #f0f0f0;
		margin: 0px !important;
		padding: 5vw 5vw 0vw 5vw !important;
	}

	section#arguments {
		text-align: center;
	}

	section#services .service {
		margin-bottom: 30px;
		background: white;
		padding: 15px;
		text-align: left;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	section#services .service img,
	section#services .service h4 {
		display: inline-block;
	}

	section#services .service .content {
		padding-left: 30px;
		margin-top: 30px;
	}

	section#services .service .title {
		font-size: 16px;
		margin-top: 0px;
		margin-bottom: 0;
	}

	section#qui_me_repond .reponse {
		margin-bottom: 30px;
	}

	section#arguments .argument {
		margin-bottom: 30px;
		padding-right: 0px;
	}

	section#motifs {
		border-radius: 0;
	}

	section#motifs h2 {
		line-height: inherit;
		text-transform: inherit;
		font-size: 22px;
	}

	section#motifs .motif_bloc .title {
		display: none;
	}

	section#motifs .motifs_descriptions {
		display: none;
	}

	section#motifs .motif {
		background: white;
		padding: 0px 30px 15px 30px;
	}

	section#blocks .one-half {
		width: 100%;
	}

	section#blocks .content {
		padding: 30px;
	}

	section#motifs .motif .motif_bloc:not(:last-child) {
		margin-bottom: 0px;
	}

	section#motifs .motifs {
		padding-top: 35px;
		background: white;
	}

	section#blocks .background {
		height: 33vh;
	}

	section#blocks .line:nth-child(even) {
		display: flex;
		flex-direction: column-reverse;
	}

	section#form {
		background: none;
		text-align: center;
		margin: 0px !important;
		border-radius: 0px;
		padding: 2.5vw 0 !important;
	}

	.page-template-service_grand_public section#form {
		margin-bottom: 30px !important;
	}

	section#form .form_content .liste_assurances .assurance_found .connection {
		display: none;
	}

	section#form .form_header {
		display: flex;
		flex-direction: column-reverse;
	}

	section#form .form_content {
	}

	section#form .form_content .search_assurances input {
		border-radius: 10px;
		padding: 18px;
		color: #606060;
		width: 90vw;
	}

	section#form .responsive_background {
		width: 100%;
		background-image: url(../images/formulaire.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0px;
		background-position: bottom right;
		min-height: 25vh;
	}

	section#form .form_content .liste_assurances .assurance_found {
		position: relative;
		text-align: left;
		padding: 18px 23px;
	}

	section#form .form_content .liste_assurances .assurance_found:after {
		content: ">";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 30px;
		color: #32afff;
	}

	section#form .form_content .liste_assurances .assurance_found:first-child,
	section#form .form_content .liste_assurances .assurance_found:last-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	section#form .form_content .liste_assurances > a {
		font-size: 12px;
	}

	section#form .form_content .ajax_content {
		width: 90vw;
		max-width: none;
		left: 50%;
		transform: translateX(-50%);
	}

	section#form .form_content .form_footer {
		line-height: inherit;
		font-size: 12px;
		margin-left: 15px;
		margin-top: 5px;
	}

	section#form .form_content .form_footer:before {
		width: 50px;
		height: 40px;
		left: -15px;
		bottom: 0px;
	}

	section#certification {
		display: block;
	}

	section#certification img {
		margin-right: 0px;
		margin-bottom: 15px;
	}

	section#banniere {
		flex-direction: column-reverse;
	}

	section#banniere > .image {
		margin-bottom: -5vw;
	}

	section#banniere > .image {
		margin-top: 30px;
	}

	section#offers h2 {
		margin: 15px 0 30px 0;
	}

	section#medecins .description {
		width: 100%;
	}

	section#medecins .button {
		margin-top: auto;
	}

	section#medecins #slider .medecin-content {
		height: auto;
		text-align: center;
		padding: 30px;
	}

	section#statistics > .statistic:before {
		width: 24px;
		height: 24px;
		top: 5px;
	}

	section#statistics > .statistic {
		position: relative;
		padding-left: 45px;
		padding-bottom: 15px;
	}

	section#statistics > .statistic > .title,
	section#statistics > .statistic > .description {
		font-size: 18px;
	}

	section#identite {
		background: #f1f1f1;
	}

	section#identite .button {
		color: inherit;
		background: white;
		border-color: transparent;
		flex: 1 48%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section#offers {
		border-radius: 0px;
	}

	section#offers h2,
	section#offers .column > .title {
		font-size: 26px;
	}

	section#offers .offer .background {
		top: 5px;
	}

	section#offers .column > .price > .price_description {
		font-size: 12px;
	}

	section#offers .column {
	}

	section#blocks {
		background: white;
	}

	section#medecins h2 {
		font-size: 27px;
	}

	section#gform {
		min-width: unset;
		width: 90%;
	}

	.page-template-form .background {
		margin-top: -125px;
	}

	section#consult .button {
		width: 100%;
	}
}
