.filter_post {
	margin-bottom: 30px;
}

.content {
	position: relative;
}

.select2 {
	margin: 0px;
}

h1 {
	font-weight: 400;
}

/* COMPOSANTS */

section#identite .links {
	margin-top: 15px;
    display: flex;

flex-wrap: wrap;
}

/*POST TERMS FILTER*/

#posts .post .post_content {
		padding: 30px;
		font-size: 24px;
		line-height:1.5;
}

.select2 {

}

/* ARCHIVE : ACTUALITE */
.post-type-archive-actualite .site-container {
	background: #f8f8f8;
}

.post-type-archive-actualite h1 {
	position: absolute;
	top: 30px;
	left: 60px;
	text-transform: uppercase;
	font-size: 22px;
	color: white;
}

.post-type-archive-actualite .select2 {
	width: 33.33%;
	margin-left: 60px;
	margin-top: 60px;
}

.post-type-archive-actualite #archive-loop {
	padding: 0 60px;
}

/* ARCHIVE : MEDECINS */
.post-type-archive-medecin .site-inner {
	padding-top: 30px;
}

.post-type-archive-medecin .select2,
.post-type-archive-medecin #posts,
.post-type-archive-medecin .filter-category {
    margin: 30px 0px 0 0px;
}

.post-type-archive-medecin .medecins_header {
	font-weight: bold;
}

.post-type-archive-medecin h1 {
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	color: #31b1ff;
    position: static;
    font-size: 48px;
    text-transform: inherit;
}

.post-type-archive-medecin #posts .post .background {
	height: 310px;
}

.post-type-archive-medecin .background {
    background-position: top center;
}

.post-type-archive-medecin .last_name,
.post-type-archive-medecin .first_name,
.post-type-archive-medecin .job_position,
.post-type-archive-medecin .pratices_since,
.post-type-archive-medecin .rpps {
	display: block;
}

.post-type-archive-medecin .last_name,
.post-type-archive-medecin .first_name {
	color: #585858;
	font-size: 30px;
line-height: 42px;
}

.post-type-archive-medecin .job_position {
	color: #31b1ff;
	font-size: 16px;
line-height: 32px;
}

.post-type-archive-medecin .pratices_since,
.post-type-archive-medecin .rpps {
	font-size: 16px;
line-height: 32px;
color: #585858;
}

/* ARCHIVE : ASSURANCES  */

.post-type-archive-assurance #archive-header,
.post-type-archive-assurance #archive-footer,
.post-type-archive-assurance #archive-loop {
	padding: 15px 90px 15px 90px;
    margin: 30px 0 15px 0;
}

.post-type-archive-assurance #archive-header {
	display: flex;
	flex-direction: column;
}

.post-type-archive-assurance .site-inner {
	background: #FAFAFA;
    padding-bottom: 30px;
}

.post-type-archive-medecin h1,
.post-type-archive-assurance h1 {
	color: #31b1ff;
	margin-top: 15px;
	margin-bottom: 5px;
}

.post-type-archive-assurance h2 {
	color: #31b1ff;
}

.post-type-archive-assurance .content section#identite {
	background: #e6e6e6;
	margin: 45px 45px 15px 45px;
    padding: 45px 45px 45px 45px;
}

.post-type-archive-assurance .content section#identite {
	color: #606060;
}

.post-type-archive-assurance .content section#identite .button {
	color: #606060;
    flex: 1 47%;
	border: 0;
}

.post-type-archive-medecin .site-inner {
	padding-top: 0px;
}

@media only screen and (min-width: 960px) {



}

@media only screen and (max-width: 959px) {

	.select2 {
		width: calc(100% - 60px)!important;
	}

	.select2,
	.filter-category {
	    margin: 30px 30px 0 30px!important;
	}

	#posts .post {
	    margin-bottom: 5vw;
	}

	#posts .post .post_content {
		padding: 15px;
	}

	#posts .post .background {
		height: 33.33vh;
	}

	.post-type-archive-assurance .content section#identite {
		margin: 0px;
		margin-bottom: -30px!important;
	}

	.post-type-archive-assurance #archive-loop {
		margin-bottom: -5vw!important;
	}

	.post-type-archive-actualite h1 {
		color: #31b1ff;
	    top: -50px;
	    text-align: center;
	    width: 100%;
	    left: 0;
	    font-size: 26px;
	    font-weight: bold;
	    text-transform: initial;
	}

	.post-type-archive-actualite .post_type_background {
		margin-top: 60px;
	}

	.post-type-archive-actualite #archive-loop {
		padding: 0px 30px;
	}

	.post-type-archive-actualite .select2 {
		width: 90vw!important;
	    margin: 30px 5vw;
	}

	.post-type-archive-assurance #archive-loop {
		margin-top: 0px;
	}

	.post-type-archive-assurance #archive-header,
	.post-type-archive-medecin #archive-header {
		display: flex;
		flex-direction: column-reverse;
		text-align:center;
		font-size: 12px;
	}

}
