
/*SLIDER*/

section#slider {
	padding: 0px;
    margin: 0px;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

.slider {
    position: relative;

}

.slider .slide {
    display: flex;
}

.slider .slide > .content {
    width: 50%;
    padding: 60px;
    background: #FAFAFA;
}

.slider .slide > .content > .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 37px;
    color: #32AFFF;
}

.slider .button {
    background: #32AFFF;
    color: white;
    box-shadow: inset 0px 0px 3px rgba(31, 31, 31, 0.22);
    border-radius: 0px;
    margin-top: 90px;
}

.slider .button:hover {
    background: white;
    color: #009EE3;
}

.slider .button:after {
    content: "";
    border-right:
}

.slider .owl-item {
    background: transparent;
}

.slider .owl-dots {
    position: absolute;
    z-index: 30;
    right: 30px;
    bottom: 15px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #32AFFF;
}

.owl-theme .owl-dots .owl-dot span {
    background: #a9ddff;
}

@media only screen and (max-width: 959px) {
	.slider .slide > .content {
	    padding: 30px;
	}

	.slider .slide > .content > .title {
		margin-top: 0px;
	}
}
