/*GENERAL*/

@media only screen and (min-width: 960px) {
    .mobile {
        display: none;
    }
}

section {
    margin: 30px 0;
    position: relative;
}

.site-inner section.box {
    margin: 0 0 20px 0;
}

.site-inner section:first-child {
    margin-top: 40px;
}

.box {
    padding: 30px 60px;
}

.site-inner {
    margin: 80px 0 60px 0;
    min-height: 90vh;
}

.site-inner,
.site-footer>.wrap {
    max-width: 1352px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.site-footer>.wrap {
    padding: 45px 30px;
}

.line {
    margin-bottom: 30px;
    display: flex;
}

.lines .line:only-child,
.lines .line:last-child {
    margin-bottom: 0px;
}

.title {
    color: #31b1ff;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 10px;
}

/* COLORS */

.blue {
    color: #31b1ff;
}

/*ELEMENTS*/

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.target {
    position: relative;
}

.loading {
    background-image: url(../icons/loading.gif);
    background-size: 32px 32px;
    background-position: right 15px center;
    background-repeat: no-repeat;
}

#loading {
    width: 100%;
    position: absolute;
    top: 58px;
    height: 62px;
    max-width: 800px;
    background: white;
}

span.highlight {
    text-decoration: underline;
    color: #32AFFF;
}

/* POP UP */

body.popup-displayed .site-inner {
    opacity: 0.7;
}

.popup {
    position: fixed;
    opacity: 1;
    width: 100vw;
    left: 0;
    background: white;
    top: 0px;
    z-index: 10000;
    -webkit-box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.75);
}

.popup .title {
    font-size: 54px;
    font-weight: bold;
    line-height: 72px;
    margin-bottom: 0px;
    line-height: 1.1;
}

.popup .title-2 {
    font-weight: 400;
    color: #606060;
    font-size: 54px;
    line-height: 1.1;
}

.popup p {
    margin: 0px;
}

.popup .description {
    margin-top: 30px;
}

.popup>.content {
    display: flex;
    position: relative;
    max-width: 1352px;
    width: 90vw;
    height: 100%;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.popup .close_popup {
    position: absolute;
    color: #32AFFF;
    cursor: pointer;
    top: 15px;
    right: 15px;
}

.popup a {
    color: #606060;
    text-decoration: underline;
}

.popup .button {
    background: #32AFFF;
    box-shadow: inset 0px 0px 3px rgba(31, 31, 31, 0.22);
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    text-decoration: none;
}

/* POSTS */

.post_type_background {
    height: 33.33vh;
}

#posts .post {
    background: #FAFAFA;
}

#posts .post a:hover {
    text-decoration: none;
}

#posts .post .background {
    background-color: #6DB3F2;
    height: 166px;
    width: 100%;
}


#posts .post .post_content .post_title {

    font-size: 22px;

    color: #585858;
    text-decoration: none;
}

/*MENU*/

#header-menu {
    display: block;
    text-align: right;
    position: relative;
}

#header-menu li {
    display: inline-block;
}

#header-menu li a {
    padding: 5px 15px;
    width: 100%;
    display: block;
}

#header-menu .level-2 {
    background: #FAFAFA;
}

#header-menu .level-2 a {
    font-size: 12px;
    text-transform: uppercase;
    color: #32AFFF;
    padding: 5px 15px;
}

#header-menu .level-3 a {
    color: #6F6F6D;
}

#header-menu .menu-item {
    width: 100%;
}

/*HEADER*/

.site-header .site-logo {
    display: inline-block;
}

.site-header .header-widget-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    float: right;
    height: 80px;
}

.site-header .my_account {
    align-self: center;
}

/*FOOTER*/

footer.site-footer {
    background: #31b1ff;
    color: white !important;
}

footer .widget-title {
    color: white;
}

footer.site-footer .footer-widgets {
    background: #31b1ff;
}

footer.site-footer a {
    color: white;
    display: block;
}

footer.site-footer a:focus,
footer.site-footer a:hover {
    font-weight: 400;
    text-decoration: underline;
}

footer.site-footer .logo {
    background: #31b1ff;
    text-align: left;
    margin: auto;
    height: 50px;
}

.site-footer .widget .social {
    display: inline-block;
    margin: 0 10px;
}

.warning {
    background: #fcb500;
    font-weight: 400;
    text-align: center;
    padding: 15px 30px;
}

.copyright,
.nav-secondary {
    padding: 15px 30px;
    width: 50%;
    display: inline-block;
    background: #ffffff;
}

.nav-secondary .menu-item>a {
    font-size: 16px;
    text-decoration: underline;
}

.nav-secondary .menu-item:hover>a {
    color: initial;
}

.nav-secondary .menu-item:hover {
    border-bottom: 0px;
}

.copyright {
    color: initial;
    text-align: left;
    font-size: 16px;
}

.nav-secondary {
    text-align: right;
}

.genesis-nav-menu .current-menu-item>a {
    color: initial;
}

/* PAGE TEMPLATE DEFAULT */
.page-template-default .box {
    max-width: 950px;
    margin: 0 auto;
}

.page-template-default h1,
.page-template-default h2,
.page-template-default h3,
.page-template-default h4,
.page-template-default h5,
.page-template-default h6 {
    color: #31b1ff;
}

/* GDPR */
#ct-ultimate-gdpr-cookie-popup .fa {
    display: none;
}

.ct-ultimate-gdpr-cookie-popup-modern#ct-ultimate-gdpr-cookie-popup .ct-ultimate-gdpr-cookie-buttons {
    text-align: center;
}

.ct-ultimate-gdpr-cookie-popup-modern.ct-ultimate-gdpr-cookie-bottomPanel #ct-ultimate-gdpr-cookie-accept,
.ct-ultimate-gdpr-cookie-popup-modern.ct-ultimate-gdpr-cookie-topPanel #ct-ultimate-gdpr-cookie-accept {
    float: none;
    margin-bottom: 15px;
}