@media only screen and (max-width: 1560px) {

    .site-footer>.wrap,
    .box {}
}

@media only screen and (min-width: 1281px) {

    /* Site Header
    --------------------------------------------- */

    .site-header {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .site-header>.wrap {
        max-width: 1920px;
        margin: auto;
    }

}

@media only screen and (max-width: 1280px) {

    section {
        margin: 2.5vw 0;
    }

    .site-header {
        text-align: center;
        height: auto;
    }

    .site-header .header-widget-area {
        display: block;
        float: none;
    }

    .site-inner {
        margin: 180px auto 0vw auto;
    }


}

@media only screen and (max-width: 959px) {

    body {
        line-height: 1.5;
        font-size: 18px;
    }

    section {
        margin: 5vw;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0px 0 15px;
    }

    h1 {
        font-size: 34px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    .site-inner {
        margin-top: 0px;
    }

    .site-inner section:first-child {
        margin: 0px;
    }

    .site-header {
        padding: 0px;
    }

    .header-widget-area .my_account {
        display: none;
    }

    .site-header .header-widget-area {
        width: 100%;
        background: #f0f0f0;
        height: 60px;
        margin-top: -10px;
    }

    .site-header .my_account {
        float: right;
    }

    .site-inner,
    .site-footer>.wrap {
        width: 100vw !important;
    }

    .box {
        padding: 5vw 5vw !important;
        margin: 5vw 0 5vw 0 !important;
    }

    .title {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .button {}

    .button-2 {
        width: 100%;
    }

    .line {
        display: block;
        margin-bottom: 0px;
    }

    /* SIDEBAR */
    .sidebar {
        margin-top: auto;
        padding: 0 30px;
    }

    /* POP-UP */
    .popup>.content {
        display: block;
        padding: 5vw 0;
    }

    .popup .close_popup {
        right: 0;
        top: 5vw;
    }

    /* RESPONSIVE MENU */
    .site-header .header-widget-area {
        display: block;
    }

    .nav-primary {
        margin-right: 0px;
        background: white;
        z-index: 1000;
    }

    .nav-primary a {
        padding-top: 0px;
        padding-bottom: 0px;
        padding: 20px 15px;
    }

    /* OTHERS */
    .site-header {
        height: auto;
    }

    .copyright,
    .nav-secondary {
        width: 100%;
    }

    #menu-footer-menu,
    .nav-secondary,
    .copyright {
        text-align: center;
    }

    .site-header .my_account {
        background-image: url(../icons/my_account.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        width: 43px;
        height: 43px;
        color: transparent;
        border: none;
        padding-left: 0px;
    }

    .footer-widget-area {
        margin-bottom: 0px;
        padding: 0;
    }

    footer.site-footer .logo {
        margin-left: -15px;
    }

    footer .footer-widgets h3 {
        margin: 30px 0 15px 0;
    }

    footer section {
        margin: 0px;
    }

}