#tabs {
	overflow: hidden;
}

#tabs li {
	list-style-type: none;
}

#tabs h1 {
	color: #32AFFF;
}

a.bouton:active {
	outline-style: none;
}

#tabs li a {
	color: #6F6F6D;
	padding: 15px 15px;
	font-size: 17px;
	width: 100%;
	text-decoration: none;
}

#tabs li>a>i {
	margin-right: 15px;
	color: #32AFFF;
}

#tabs li:not(.ui-tabs-active):not(.ui-state-hover)>a>i {
	display: none;
}

#tabs .ui-state-hover,
#tabs .ui-tabs-active {
	background: #FAFAFA;
	border-right: 1px solid #32AFFF;
}

#tabs .ui-tabs-active a {
	color: #32AFFF;
}

.ui-tabs-vertical {
	width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: 0;
	float: left;
	width: 33.33%;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: inline-block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
}

#tabs h1,
.ui-tabs-vertical .ui-tabs-panel {
	padding: 0 60px;
	float: right;
	width: 66.66%;
    margin-top: 0;
}

#tabs .ui-tabs-nav {
	border-right: 1px solid #DFE6E8;
	padding-bottom: 500em;
	margin-bottom: -500em;
}

.ui-tabs-vertical {
	width: 100%;
}

@media only screen and (max-width: 1280px) {
.ui-tabs-vertical .ui-tabs-nav {
	float: none;
    width: 100%;
    margin-bottom: 30px;
}

#tabs h1, .ui-tabs-vertical .ui-tabs-panel {
	float: none;
	width: 100%;
	padding: 0px;
	margin-top: 30px;
}



#tabs .ui-tabs-nav {
	border: 0;
}
}
