.datatables .badge {
	background: #d94c61;
	border-radius: 100px;
	font-size: 11px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.25px;
	text-align: center;
	display: inline-block;
	padding: 4px 10px 4px;
	line-height: 1;
	margin-right: 5px;
}

.datatables .categories .badge {
	background-color: #28a745;
}

.datatables .tags .badge {
	background-color: #007bff;
}

.datatables tr td {
	white-space: break-spaces;
	vertical-align: middle;
}

.datatables tr td i {
	font-size: 20px;
}
